<!-- 
    Welcome to your own Flashcord Store Page!
    You have the full creative liberty to modify this page if you don't like the stock layout.
    You aren't allowed to fetch for external ressources. Everything must be inside your [FOLDER_NAME] folder.
    NO Javascript or anything of that matter is allowed, the SNWE website must be in pure HTML and CSS.
    You may use the Python Script to quickly get started, and then you may manually adjust your page.

    // Flashcord Store Metadata

    [NAME]
    [SHORT_DESC]
    [VERSION]
    [LICENSE]
    [LICENSE_YEAR]

    [GITHUB_PROFILE]
    [GITHUB_REPO]
    [GITHUB_CONTRIBUTORS]

    [DISCORD_LINK]
    [THEME]
    [EMBED_COLOR]

    [STORE_PAGE_FILENAME]
    [FOLDER_NAME]
    [EMBED_FILENAME]
    [STORE_EMBED_FILENAME]
    [STORE_USER_FOLDER]

    [LONG_DESC]
 -->

<!doctype html>
<html class="SNDL-[THEME]">
    <head>
        <title>[NAME] - Flashcord Store</title>
        <!-- SNWE SEO -->
        <meta name="description" content="[SHORT_DESC]">
        <meta name="author" content="[GITHUB_PROFILE]">
        <!-- SNWE Embed -->
        <meta content="[NAME] - Flashcord Store" property="og:title" />
        <meta content="[SHORT_DESC]" property="og:description" />
        <meta content="https://sirio-network.com/flashcord/store/modules/[STORE_USER_FOLDER]/[STORE_PAGE_FILENAME]" property="og:url" />
        <meta content="https://sirio-network.com/flashcord/store/modules/[STORE_USER_FOLDER]/[FOLDER_NAME]/[EMBED_FILENAME]" property="og:image" />
        <meta content="[EMBED_COLOR]" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:card" content="summary_large_image">
        <!-- SNWE External-->
        <link rel="stylesheet" href="https://sirio-network.com/bin/SNDL-App_Base.css">
        <link rel="stylesheet" href="https://sirio-network.com/bin/SNDL-Flashcord.css">
        <link rel="stylesheet" href="[FOLDER_NAME]/Module-Store.css">
        <link rel="icon" type="image/x-icon" href="https://sirio-network.com/sbin/SGN-SNDL_FULL.png">
        <!-- SNWE Misc-->
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="FakeRoot">
            <nav>
                <img class="SNDL-Nav_Banner" src="https://sirio-network.com/sbin/Flashcord/SNDL-Flashcord.png"></img>
                <div class="SNDL-Nav_Links">
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/youtube.html"><p>SiriusBYT</p><p>SBYT</p></a></div>
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/servers.html"><p>Sirio Game Network</p><p>SGN</p></a></div>
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/music.html"><p>Music</p><p>Music</p></a></div>
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/flashcord/store.html"><p>Flashcord</p><p>Flashcord</p></a></div>
                </div>
            </nav>

            <div class="Userspace">
                <div class="Flashcord-StoreSpace">
                    <div class="Flashcord-Store_Description">
                        <img class="Flashcord-Store_Banner" src="[FOLDER_NAME]/[STORE_EMBED_FILENAME]"></img>
                        <p>[LONG_DESC]</p>
                    </div>
                    <div class="Flashcord-Store_Header">
                        <div class="Flashcord-Module_Favicons">
                            <h1>[NAME]</h1>
                            <a target="_blank" class="Flashcord-Module_Favicon" href="https://github.com/[GITHUB_PROFILE]/[GITHUB_REPO]"><h1>💿</h1></a>
                        </div>
                        <div class="Flashcord-Module_Favicons">
                            <a target="_blank" href="https://github.com/[GITHUB_PROFILE]"><h2>[GITHUB_PROFILE]</h2></a>
                            <a target="_blank" href="[DISCORD_LINK]"><h2>💬</h2></a>
                        </div>
                        <h5 style="margin-bottom: 8px;">Contributors: [GITHUB_CONTRIBUTORS]</h5>
                        <h3 class="Flashcord-Module_Version">Version: [VERSION]</h3>
                        <p>[SHORT_DESC]</p>

                        <p class="SNDL-LineSpacer_H"></p>

                        <h3>How to install this module:</h3>
                        <h4>🔌 Replugged</h4>
                        <p>Add the following line to your QuickCSS, below Flashcord's Import line.</p>
                        <div class="SNDL-CodeBlock">
                            <p>@import url("https://sirio-network.com/flashcord/store/modules/[STORE_USER_FOLDER]/[FOLDER_NAME]/module.css")</p>
                        </div>
                        <p>And simply click the "Apply Changes" button.</p>

                        <p class="SNDL-LineSpacer_H"></p>

                        <div class="SNDL-Quote SNDL-BC_Disclamer">
                            <div>
                                <h1>Installing on other Discord Clients:</h1>
                                <p>Flashcord does not support other clients currently, there is no guarantee that this module will work on Vencord / BetterDiscord.</p>
                            </div>
                        </div>
                        <h4>✨ Vencord</h4>
                        <p>Add the following url to your Local Theme's box.</p>
                        <div class="SNDL-CodeBlock">
                            <p>https://sirio-network.com/flashcord/store/modules/[STORE_USER_FOLDER]/[FOLDER_NAME]/module.css</p>
                        </div>

                        <h4>🩹 BetterDiscord</h4>
                        <p>Add the following line to your QuickCSS, below Flashcord's Import line.</p>
                        <div class="SNDL-CodeBlock">
                            <p>@import url("https://sirio-network.com/flashcord/store/modules/[STORE_USER_FOLDER]/[FOLDER_NAME]/module.css")</p>
                        </div>
                        <p>And simply click the Floppy Disk 💾 icon.</p>

                        <p class="SNDL-LineSpacer_H"></p>

                        <a target="_blank" href="https://github.com/[GITHUB_PROFILE]/[GITHUB_REPO]/blob/main/LICENSE.MD"><p class="SNDL-Copyright">[GITHUB_PROFILE] © [LICENSE_YEAR] - [NAME] | [LICENSE]</p></a>
                    </div>
                </div>
                        
                <!-- Delete this entire section if this is the first time you're posting to the Flashcord Store-->
                <p class="SNDL-LineSpacer_H"></p>
                <h1 style="text-align: center;">More Flashcord Modules by [GITHUB_PROFILE]</h1>
                <p class="SNDL-LineSpacer_H"></p>
                
                <!-- Insert the DIRECT URL of your other modules.-->
                <div class="SNDL-Quick_FlexGrid SNDL-Contain_Light SNDL-Auto_Flex">
                    [FLASHSTORE_API-EMBEDS]
                </div>
                <p class="SNDL-LineSpacer_H"></p>

                <div class="SNDL-Copyright">
                    <p>SiriusBYT © 2024 - Sirio Network Website | CC-BY-ND-NC 4.0</p>
                </div>
            </div>
        </div>
    </body>
</html>