<!-- 
    
[Addon_Name]
[Addon_DescriptionShort]
[Addon_Version]
[Addon_LicenseString]

[Addon_Author]
[Addon_Repository]
[Addon_Contributors]

[Addon_Discord]
[Addon_Theme]
[Addon_Color]

[Addon_Folder]
[Addon_Folder]
[Addon_ImageEmbed]

-->

<!doctype html>
<html class="SNDL-[Addon_Theme]" lang="en-GB">
    <head>
        <title>[Addon_Name] - Flashcord Store</title>
        <!-- SNWE SEO -->
        <meta name="description" content="[Addon_DescriptionShort]">
        <meta name="author" content="[Addon_Author]">
        <!-- SNWE Embed -->
        <meta content="[Addon_Name] - Flashcord Store" property="og:title" />
        <meta content="[Addon_DescriptionShort]" property="og:description" />
        <meta content="https://sirio-network.com/flashcord/store/modules/[Username]/[Addon_Folder]" property="og:url" />
        <meta content="https://sirio-network.com/flashcord/store/modules/[Username]/[Addon_Folder]/[Addon_ImageEmbed]" property="og:image" />
        <meta content="[Addon_Color]" data-react-helmet="true" name="theme-color" />
        <meta name="twitter:card" content="summary_large_image">
        <!-- SNWE External-->
        <link rel="stylesheet" href="https://sirio-network.com/bin/SNDL-App_Base.css">
        <link rel="stylesheet" href="https://sirio-network.com/bin/SNDL-Flashcord.css">
        <link rel="stylesheet" href="[Addon_Folder]/Module-Store.css">
        <script src="https://sirio-network.com/bin/scripts/Flashcord_API_JS_Client.js"></script>
        <link rel="icon" type="image/x-icon" href="https://sirio-network.com/sbin/SGN-SNDL_FULL.png">
        <!-- SNWE Misc-->
        <meta charset="utf-8">
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
    </head>

    <body onload="Flashcord_API_Client('ADD_STAT/VIEWS/[Addon_Folder]')">
        <div class="FakeRoot">
            <nav>
                <img class="SNDL-Nav_Banner" src="https://sirio-network.com/sbin/Flashcord/SNDL-Flashcord.png"></img>
                <div class="SNDL-Nav_Links">
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/youtube.html"><p>SiriusBYT</p><p>SBYT</p></a></div>
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/servers.html"><p>Sirio Game Network</p><p>SGN</p></a></div>
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/music.html"><p>Music</p><p>Music</p></a></div>
                    <div class="SNDL-Nav_Link"><a href="https://sirio-network.com/flashcord/store.html"><p>Flashcord</p><p>Flashcord</p></a></div>
                </div>
            </nav>

            <div class="Userspace">
                <div class="Flashcord-StoreSpace">
                    <div class="Flashcord-Store_Description">
                        <img class="Flashcord-Store_Banner" src="[Addon_Folder]-files/[Addon_ImageStore]"></img>
                        <p>[Addon_DescriptionLong]</p>
                    </div>
                    <div class="Flashcord-Store_Header">
                        <div class="Flashcord-Module_Favicons">
                            <h1>[Addon_Name]</h1>
                            <a target="_blank" class="Flashcord-Module_Favicon" href="[Addon_Repository]"><h1>💿</h1></a>
                        </div>
                        <div class="Flashcord-Module_Favicons">
                            <a target="_blank" href="https://github.com/[Addon_Author]"><h2>[Addon_Author]</h2></a>
                            <a target="_blank" href="[Addon_Discord]"><h2>💬</h2></a>
                        </div>
                        <h5 style="margin-bottom: 8px;">Contributors: [Addon_Contributors]</h5>
                        <h3 class="Flashcord-Module_Version">Version: [Addon_Version]</h3>
                        <p>[Addon_DescriptionShort]</p>

                        <p class="SNDL-LineSpacer_H"></p>

                        <h3>How to install this module:</h3>
                        <h4>🔌 Replugged</h4>
                        <p>Add the following line to your QuickCSS, below Flashcord's Import line.</p>
                        <div class="SNDL-CodeBlock" onmouseover="Flashcord_API_Client('ADD_STAT/INSTALLS/[Addon_Folder]')">
                            <p>@import url("https://sirio-network.com/flashcord/store/modules/[Username]/[Addon_Folder]/main.css")</p>
                        </div>
                        <p>And simply click the "Apply Changes" button.</p>

                        <p class="SNDL-LineSpacer_H"></p>

                        <div class="SNDL-Quote SNDL-BC_Disclamer">
                            <div>
                                <h1>Installing on other Discord Clients:</h1>
                                <p>Flashcord does not support other clients currently, there is no guarantee that this module will work on Vencord / BetterDiscord.</p>
                            </div>
                        </div>
                        <h4>✨ Vencord</h4>
                        <p>Add the following url to your Local Theme's box.</p>
                        <div class="SNDL-CodeBlock" onmouseover="Flashcord_API_Client('ADD_STAT/INSTALLS/[Addon_Folder]')">
                            <p>https://sirio-network.com/flashcord/store/modules/[Username]/[Addon_Folder]/main.css</p>
                        </div>

                        <h4>🩹 BetterDiscord</h4>
                        <p>Add the following line to your QuickCSS, below Flashcord's Import line.</p>
                        <div class="SNDL-CodeBlock" onmouseover="Flashcord_API_Client('ADD_STAT/INSTALLS/[Addon_Folder]')">
                            <p>@import url("https://sirio-network.com/flashcord/store/modules/[Username]/[Addon_Folder]/main.css")</p>
                        </div>
                        <p>And simply click the Floppy Disk 💾 icon.</p>

                        <p class="SNDL-LineSpacer_H"></p>

                        <a target="_blank" href="[Addon_Repository]/blob/main/LICENSE.MD"><p class="SNDL-Copyright">[Addon_LicenseString]</p></a>
                    </div>
                </div>
                        
                <!-- Delete this entire section if this is the first time you're posting to the Flashcord Store-->
                <p class="SNDL-LineSpacer_H"></p>
                <h1 style="text-align: center;">More Flashcord Modules by [Addon_Author]</h1>
                <p class="SNDL-LineSpacer_H"></p>
                
                <!-- Insert the DIRECT URL of your other modules.-->
                <div class="SNDL-Quick_FlexGrid SNDL-Contain_Light SNDL-Auto_Flex">
                    [Addon_Other]
                </div>
                <p class="SNDL-LineSpacer_H"></p>

                <div class="SNDL-Copyright">
                    <p>SiriusBYT © 2023-2024 - Sirio Network Website | CC-BY-ND-NC 4.0</p>
                </div>
            </div>
        </div>
    </body>
</html>