<!-- 

[Addon_Name]
[Addon_DescriptionShort]
[Addon_Version]
[Addon_LicenseString]

[Addon_Author]
[Addon_Repository]
[Addon_Contributors]

[Addon_Discord]
[Addon_Theme]
[Addon_Color]

[Addon_Folder]
[Addon_Folder]
[Addon_ImageEmbed]

 -->

 <!doctype html>
 <html class="SNDL-Dark" lang="en-GB">
     <head>
         <title>[Addon_Name] - Flashcord Store</title>
         <!-- SNWE SEO -->
         <meta name="description" content="[Addon_DescriptionShort]">
         <meta name="author" content="[Addon_Author]">
         <!-- SNWE External-->
         <link rel="stylesheet" href="https://sirio-network.com/bin/SNDL-App_Base.css">
         <link rel="stylesheet" href="https://sirio-network.com/bin/SNDL-Flashcord.css">
         <link rel="stylesheet" href="embed.css">
         <link rel="icon" type="image/x-icon" href="https://sirio-network.com/sbin/SGN-SNDL_FULL.png">
         <!-- SNWE Misc-->
         <meta charset="utf-8">
         <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
     </head>
     <body>
 
         <div class="Flashcord-Module" tags="[Addon_TagsString]">
             <img class="Flashcord-Module_Banner" src="[Addon_ImageEmbed]"></img>
             <div class="Flashcord-Module_Info">
                 <div class="SNDL-Quick_FlexGrid" style="justify-content: left;">
                     <a target="_blank" href="../[Addon_Folder].html"><h1>[Addon_Name]</h1></a>
                     <a target="_blank" href="[Addon_Repository]"><h1>💿</h1></a>
                 </div>
                 <div class="SNDL-Quick_FlexGrid" style="justify-content: left;">
                     <a target="_blank" href="https://github.com/[Addon_Author]"><h2>[Addon_Author]</h2></a>
                     <a target="_blank" href="[Addon_Discord]"><h2>💬</h2></a>
                 </div>
                 <h5 style="margin-bottom: 8px;">Contributors: [Addon_Contributors]</h5>
                 <h3 class="Flashcord-Module_Version">Version: [Addon_Version]</h3>
                 <p>[Addon_DescriptionShort]</p>
                 <a target="_blank" href="[Addon_Repository]/blob/main/LICENSE.MD"><p class="SNDL-Copyright">[Addon_LicenseString]</p></a>
             </div>
         </div>
     </body>
 </html>